<ion-view view-title="Select a Workout">
  <ion-content class="padding">

    <ion-list>
      <ion-item>
        <span>Day 1: Chest + Shoulders</span><br/>
        <span>Incline Bench Press x 7</span><br/>
        <span>Flat Dumbbell Press x 7</span><br/>
        <span>Incline Dumbell Press x 7</span><br/>
      </ion-item>
      <ion-item>
        <span>Day 3: Back + Arms</span><br/>
        <span>Deadlift x 7</span><br/>
        <span>Dumbbell Curl x 6</span><br/>
        <span>E-Z Bar Curl x 6</span><br/>
      </ion-item>
      <ion-item>
        <span>Day 5: Squat</span><br/>
        <span>Squat x 7</span><br/>
        <span>Front Squat x 6</span><br/>
        <span>Romanian Deadlift x 6</span><br/>
      </ion-item>
    </ion-list>

  </ion-content>
  <ion-footer-bar class="bar-dark">
<h1 class="title">+Create a Workout</h1>
</ion-footer-bar>
</ion-view>
